@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-color-letters:#A7D129;
}

.bg-color-main{
    background-color: #20272F;
}

body{
    background-color: #171C22;
}

.text-color-main{
    color: var(--main-color-letters);
}

.bg-color-green{
    background-color: var(--main-color-letters);
}

.w-86rem{
    width: 100%;
}

.box-shadow-custom{
    -webkit-box-shadow: 0px 0px 15px 0px rgba(167,209,41,0.43); 
    box-shadow: 0px 0px 15px 0px rgba(167,209,41,0.43);
}