@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-color-letters:#A7D129;
    /* --main-color-letters:#00BD95; */
}
/* *{
    box-sizing: border-box;
    outline: 1px solid lightgreen;
} */

.bg-color-main{
    background-color: #20272F;
}

body{
    background-color: #171C22;
}

.nav-zindex{
    z-index: 1;
}

.text-color-main{
    color: var(--main-color-letters);
}

.bg-color-green{
    background-color: var(--main-color-letters);
}

.w-86rem{
    width: 100%;
}

.items-nav{
    height: 12rem;
    /* transition: height 1s ease; */
}

.items-nav
.hidden{
    height: 0rem;
    /* transition: height 1s ease; */
}

.hidden{
    /* transition: 1s all; */
}

.skill-close .arrow-close {
    /* -webkit-transform: rotate(-180deg); */
    transform: rotate(-180deg) translateZ(-1000px);
    /* transition: all 0.3s ease; */
    transition: 0.3s;
    /* z-index: 0; */
}

.skill-open .arrow-open {
    /* -webkit-transform: rotate(312deg); */
    /* transform: rotate(0deg); */
    transform: none;
    /* transition: all 0.3s ease; */
    transition: 0.3s;
    /* z-index: 0; */
}

.box-shadow-custom{
    -webkit-box-shadow: 0px 0px 15px 0px var(--main-color-letters); 
    box-shadow: 0px 0px 15px 0px var(--main-color-letters);
}
.box-shadow-github{
    -webkit-box-shadow: 0px 0px 15px 0px #444c52; 
    box-shadow: 0px 0px 15px 0px #444c52;
}
.bg-color-github{
    background-color: #444c52;
}

.bg-color-form{
    background-color: #171C22;
}


/* @media (min-width: 768px){
    .md\:items-nav.hidden {
        height: 0rem;
    }
    .md\:items-nav {
        height: 0rem;
    }
} */